body {
    background-image: url('sign.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh; 
    overflow: hidden; 
}

.container {
  
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    color: #5ac9f5; 
}


.nav-buttons {
    margin-top: 20px;
}

.form-section {
    display: none;
}

.form-section h2 {
    margin-bottom: 10px;
}

.form-section form {
    display: flex;
    flex-direction: column;
}

.form-section form label {
    margin-bottom: 5px;
}

.form-section form input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-section form button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-section form button:hover {
    background-color: #0056b3;
}

